<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: layout(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Reset Your Password - MK Toasted Siopao</title>
</head>
<body>

	<main class="login-page-content">
		<div class="container my-5">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="card shadow-sm p-4 mt-5 auth-card">
						<h2 class="text-center mb-3 section-title">Set New Password</h2>
						<p class="text-center text-muted mb-4">Please enter and
							confirm your new password below.</p>

						<div th:if="${errorMessage}"
							class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<span th:text="${errorMessage}"></span>
							<button type="button" class="btn-close" data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>

						<form id="resetPasswordForm" method="post"
							th:action="@{/reset-password}" th:object="${passwordResetDto}">

							<input type="hidden" th:field="*{token}" />

							<div class="mb-3">
								<label for="password" class="form-label">New Password</label> <input
									type="password" class="form-control" th:field="*{password}"
									th:errorclass="is-invalid" required>
								<div class="invalid-feedback"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}">Password Error</div>
							</div>

							<div class="mb-3">
								<label for="confirmPassword" class="form-label">Confirm
									New Password</label> <input type="password" class="form-control"
									th:field="*{confirmPassword}" th:errorclass="is-invalid"
									required>
								<div class="invalid-feedback"
									th:if="${#fields.hasErrors('confirmPassword')}"
									th:errors="*{confirmPassword}">Confirm Password Error</div>
							</div>

							<button type="submit" class="btn btn-custom w-100 mb-3">Save
								New Password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>
</html>