<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="admin-password-change-modal">

		<div class="modal fade" id="changePasswordModal" tabindex="-1"
			aria-labelledby="changePasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form th:action="@{/admin/admins/profile/update-password}"
						method="post" th:object="${adminPasswordDto}"
						id="changePasswordForm">
						<div class="modal-header">
							<h5 class="modal-title" id="changePasswordModalLabel">Change
								My Password</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">

							<div class="mb-3">
								<label for="currentPassword" class="form-label">Current
									Password</label> <input type="password" class="form-control"
									th:field="*{currentPassword}" th:errorclass="is-invalid">
								<div class="invalid-feedback"
									th:if="${#fields.hasErrors('currentPassword')}"
									th:errors="*{currentPassword}"></div>
							</div>
							<hr>
							<div class="mb-3">
								<label for="newPassword" class="form-label">New Password</label>
								<input type="password" class="form-control"
									th:field="*{newPassword}" th:errorclass="is-invalid">
								<div class="invalid-feedback"
									th:if="${#fields.hasErrors('newPassword')}"
									th:errors="*{newPassword}"></div>
							</div>
							<div class="mb-3">
								<label for="confirmPassword" class="form-label">Confirm
									New Password</label> <input type="password" class="form-control"
									th:field="*{confirmPassword}" th:errorclass="is-invalid">
								<div class="invalid-feedback"
									th:if="${#fields.hasErrors('confirmPassword')}"
									th:errors="*{confirmPassword}"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-custom">Update
								Password</button>
							<button type="button" class="btn btn-custom-secondary"
								data-bs-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</body>
</html>