<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="all-alerts-as-toasts">
		<div id="toast-messages" th:data-product-success="${productSuccess}"
			th:data-product-error="${productError}"
			th:data-category-success="${categorySuccess}"
			th:data-category-error="${categoryError}"
			th:data-stock-success="${stockSuccess}"
			th:data-stock-error="${stockError}"
			th:data-inventory-success="${inventorySuccess}"
			th:data-inventory-error="${inventoryError}"
			th:data-unit-success="${unitSuccess}"
			th:data-unit-error="${unitError}"
			th:data-user-success="${customerSuccess}"
			th:data-user-error="${customerError}"
			th:data-admin-success="${adminSuccess}"
			th:data-admin-error="${adminError}"
			th:data-site-success="${siteSuccess}"
			th:data-site-error="${siteError}" style="display: none;"></div>
	</div>

</body>
</html>